rom flask import Flask, render_template
app = Flask(__name__)

# الصفحة الرئيسية
@app.route('/')
def home():
    return render_template('index.html')  # ربط الصفحة الرئيسية بـ template

# صفحة عن التطبيق
@app.route('/about')
def about():
    return render_template('about.html')  # ربط صفحة "About" بـ template

# صفحة رفع الملفات (إذا كنت بحاجة إليها)
@app.route('/upload')
def upload():
    return render_template('upload.html')  # ربط صفحة "Upload" بـ template

if __name__ == '__main__':
    app.run(debug=True)  # تشغيل التطبيق في وضع التصحيح
